*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(143, 209, 62);
}
.content{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    h1{
        font-size: 70px;
        color:#0c3604;
        writing-mode:vertical-lr;
        text-orientation: upright;
    }
    .frame{
        width: 600px;
        height: 100%;
        .bg{
            width: 600px;
            height: 100%;
        }
        .srb{
            position: absolute;
            top: 400px;
            left:400px;
            z-index: 10;
            text-align: center;
            img{
                width: 50px;
            }
        }
        .cg{
            position: absolute;
            top: 600px;
            left:200px;
            z-index: 10;
            text-align: center;
            img{
                width: 50px;
            }
        }
        .rom{
            position: absolute;
            top: 200px;
            left:600px;
            text-align: center;
            z-index: 10;
            img{
                width: 50px;
            }
        }
    }
}